.AllSuplider {
    table {
        width: 80%;
        margin: auto;
        margin-top: 2%;
    }

    tr,
    td,
    th {
        margin: auto;
        text-align: center;
        border: 1px solid;
    }
}