.navManageProduct {
    overflow: hidden;
    width: 50%;
    margin-top: 20px;
    margin-left: 150px;
  }
  
  .navManageProduct a {
    width: 25%;
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navManageProduct a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navManageProduct a.active {
    background-color: #635c62;
    color: white;
  }