.AllClient {
    table {
        border: 1px solid;
        width: 80%;
        margin: auto;
        tr,
        td,
        th {
            border: 1px solid;
            text-align: center;

        }
    }
}