.SideBar {
    margin-top: 8px;

    .Nav-Bars {
        text-align: right;
    }

    .Menu {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    }

}