.topnav {
    overflow: hidden;
    width: 60%;
    margin: auto;
  }
  
  .topnav a {
    width: 46%;
    float: left;
    color: #111010;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;

  }
  
  .topnav a.active {
    background-color: #607d72;
    color: rgb(170, 124, 124);
  }