.ProductGood {
    table {
        border: 1px solid;
        width: 80%;
        margin: auto;

        tr,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }
    }
    p{
        padding-top: 2%;
        margin-left: 2%;
    }
}