 
.header{
    width:100%;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    background-color: aqua;
   .header__img{
       width: 15%;
       height:100px;
       float:left;
       color:palevioletred;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           img{
               width:100px;
           }
   }
   .header__menu{
       width: 55%;
       height:100px;
       float: left;
       ul{
         
           padding: 0;
           list-style: none;
           li{
              float:left;
              margin:20px 10px;
              font-size: 20px;
              color:rgb(241, 231, 231);
           }
       }

   }
   .header__button{
    width: 20%;
    height:100px;
    float: left;
    form{
        margin-top: 20px;
        display: flex;
    }
   }
   .header__login{
       float: left;
    width: 5%;
    height:100px;
    margin-left: 20px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
   }
}
.nav{
    width: 80%;
    height:400px;
    margin: 0px auto;
    display: grid;
    grid-template-areas: 

   "i1 i2"
   "i1 i3";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px;
  .nav__side{
    grid-area: i1;
    background-color: indigo;
    overflow: hidden;
    width: 914px;
    height:390px;
    .nav__side__image{
        width: 2742px;
        -webkit-animation: side 10s infinite;
        .image{
            float: left;
            width: 914px;
            height:390px;
        }
        @-webkit-keyframes side {
            20% {margin-left: 0px;}
            50% {margin-left: -914px;}
            70% {margin-left: -1828px;}
            // 80% {margin-left: -1371px;}
            // 100% {margin-left: -2742px;}
          }
    }
    img{
        width: 914px;
        height:390px;
    }
  }
  .nav__voucher__gia{
    grid-area: i2;
    background-color: ivory;
    img{
        width: 304.7px;
        height:190px;
    }
  }
  .nav__voucher__sanpham{
    grid-area: i3;
    background-color: lawngreen ;
    img{
        width: 304.7px;
        height:190px;
    }
  }
    
}
.section{
    width: 100%;
    // background-color: red;
    .section__header__logo{
        h1,p{
            text-align: center;
        }
        img{
            width: 100px;
        }
        
    }
    .section__bac{
        width:90%;
        height:700px;
        margin: auto;
        .section__bac__logo{
            width: 100%;
            height:140px;
        }
        .section__bac__goi{
            width: 100%;
            height:560px;
            img{
                width: 410.18px;
                height:200px;
                border-radius:10px ;
            }
            div:nth-child(1){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 20px;
                border-radius: 10px;
            }
            div:nth-child(1):hover{
               box-shadow: 5px 10px whitesmoke;
               transform: translateY(10px);
            
            }
           div:nth-child(2){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 20px;
                border-radius: 10px;
            }
            div:nth-child(2):hover{
                box-shadow: 5px 10px whitesmoke;
                transform: translateY(10px);
             }
           div:nth-child(3){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 20px;
                border-radius: 10px;
            }
            div:nth-child(3):hover{
                box-shadow: 5px 10px whitesmoke;
                transform: translateY(10px);
                
             }
       
        }
    }
    .section__trung{
        width:90%;
        height:700px;
        margin: auto;
        .section__trung__logo{
            width: 100%;
            height:140px;
        }
        .section__trung__goi{
            width: 100%;
            height:560px;
            img{
                width: 410.18px;
                height:200px;
                border-radius:10px ;
            }
            div:nth-child(1){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
        
            }
            div:nth-child(1):hover{
               box-shadow: 5px 10px whitesmoke;
               transform: translateY(5px);
              
            }
           div:nth-child(2){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
            }
            div:nth-child(2):hover{
                box-shadow: 5px 10px whitesmoke;
                transform: translateY(5px);
             }
           div:nth-child(3){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
            }
            div:nth-child(3):hover{
                box-shadow: 5px 10px whitesmoke;
                transform: translateY(5px);
             }
        }
    }

    .section__nam{
        width:90%;
        height:700px;
        margin: auto;
        .section__nam__logo{
            width: 100%;
            height:140px;
        }
        .section__nam__goi{
            width: 100%;
            height:560px;
            img{
                width: 410.18px;
                height:200px;
                border-radius:10px ;
            }
            div:nth-child(1){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
        
            }
            div:nth-child(1):hover{
               box-shadow: 5px 10px whitesmoke;
            }
           div:nth-child(2){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
            }
            div:nth-child(2):hover{
                box-shadow: 5px 10px whitesmoke;
             }
           div:nth-child(3){
                width:30%;
                height:550px;
                float:left;
                margin: 5px 10px;
                border-radius: 10px;
            }
            div:nth-child(3):hover{
                box-shadow: 5px 10px whitesmoke;
             }
       
        }
    }
    .section__uudai{
        width:90%;
        height:40%;
        margin: auto;
        #logo{
            width:100%;
        height:130px;
        }
        #uudai1{
            width:100%;
            height:360px;
            margin-bottom: 50px;
            border-radius: 10px;
            img{
                width: 480px;
                height:360px;
                border-radius: 10px;
            }
            .gia{
                width:400px;
                height:360px;
                margin-bottom: 50px;
               border-radius: 10px;
               float:right;
            }
            .ten{
                width:400px;
                height:360px;
                margin-bottom: 50px;
               border-radius: 10px;
               float:right;
            }
        }
        #uudai1:hover{
            box-shadow: 5px 10px whitesmoke;
            transform: translateY(5px);
        }
        #uudai2{
            width:100%;
            height:360px;
            border-radius: 10px;
            img{
                width: 480px;
                height:360px;
                border-radius: 10px;
            }
            .gia{
                width:400px;
                height:360px;
                margin-bottom: 50px;
               border-radius: 10px;
               float:right;
            }
            .ten{
                width:400px;
                height:360px;
                margin-bottom: 50px;
               border-radius: 10px;
               float:right;
            }
        }
        #uudai2:hover{
            box-shadow: 5px 10px whitesmoke;
            transform: translateY(10px);
        }
    }
    
}
.footer{
    width:90%;
    height:600px;
    margin: auto;
    .footer__ykien{
        width: 100%;
        height:250px;
        margin-top: 20px;
        display: flex;

        .footer__ykien__1{
            width: 30%;
            height:200px;
            background-color: white;
            margin: 20px 2%;
            border-top-left-radius:50px ;
            background-color: rgb(225, 212, 213);
           
        }
        .footer__ykien__2{
            width: 30%;
            height:200px;
            background-color: white;
            margin: 20px 2%;
            border-top-left-radius:50px ;
            background-color: rgb(175, 35, 122);
        }
        .footer__ykien__3{
            width: 30%;
            height:200px;
            background-color: white;
            margin: 20px 2%;
            border-top-left-radius:50px ;
            background-color: rgb(221, 147, 27);
        }

    }
    .footer__diachi{
        float: left;
        width: 100%;
        height:300px;
        // background-color: rosybrown;
        
        .footer__diachi__time{
            width:400px;
            height:200px;
            float:left;
           
        }
        .footer__diachi__numer{
            width:400px;
            height:200px;
            float:right;
          
            h3,p,small{
                display: block;
                text-align: end;
            }
        }
        .footer__diachi__diadiem{
            width:400px;
            height:200px;
            // float:left;
            margin: auto;
            th{
                padding: 10px;
            }
        }
    }
}
// css giá»‘ng nhau

.datngay{
    background-color: rgb(49, 70, 206);
    color:white;
    margin-left: 100px;
    padding: 0 20px;
}
.datngay:hover{
    background-color:red ;
    color: black;
}
h5{
    color:black;
    font-size: 20px;
}
