.nav_product {
    overflow: hidden;
   
    background-color: #333;
    margin-top: 90px;
    margin: auto;
  }
  
  .nav_product a {
    width: 50%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  
  .nav_product a.active {
    background-color: rgb(195, 180, 180);
    color: white;
  }